@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

@media screen and (max-width:600px) {
    .column {
      width: 100%;
    }

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", serif;
}

body {
    background-color: #FFFDF2;
}

.header {
    position: fixed;
    overflow: visible;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1001;
}



.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 40px;
}


main {
    margin-top: 15%;
    margin: 100px;
    padding: 100px;
    text-align: center;
}

main .text1 {
    font-size: 250%;
}


section {
    position: relative; 
    width: 100%;
    height: 100px;
    background: #0099ff;
    color: #FFFDF2;
  }  

section .content {
    display: flex;
    padding: 20px;
    left: 50px;
}


section .wave {
    position: absolute;
    top: -75px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(img/wave.png);
    background-size: 1000px 100px;
}

section .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

section .wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

section .wave.wave3 {
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15;
}

section .wave.wave4 {
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes animate {
    0% {
        background-position-x: 0px;
    }    
    100% {
        background-position-x: 1000px;
    }    

}

@keyframes animate2 {
    0% {
        background-position-x: 0px;
    }    
    100% {
        background-position-x: -1000px;
    }    

}

.content-text1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 50px;
    padding: 100px;
    color: #FFFDF2;
    background-color: #0099ff;
}

